body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 34px;
	color: whitesmoke;
	background: url("../images/golf-background.jpg");
  }
  header {
	  background: orange;
	  color: whitesmoke;
	  float: left;
	  width: 60%;
	  margin-top: 12px; 
	  margin-left: 12px;
	  margin-bottom: 12px;
	  font-size: 32px;

  }

.container1 {
	background: peachpuff;
	color: green;
	float: left;
	width: 55%;
	margin-left: 12px;
	margin-bottom: 12px;
}
.row {
	float: left;
}
.col-sm-9 {
	background-color: green;
	color: black;
}
